<div class="nested-fields">
  <div class="panel panel-default">
    <% if f.object.blockable_type.present? %>
      <div class="panel-heading u-cursor-move">
        <%= link_to_remove_association f, class: 'pull-right', title: 'Verwijder' do %>
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        <% end %>
        <h3 class="panel-title">
          <%= t("ivaldi_content_blocks.#{f.object.blockable_type}") %>
        </h3>
      </div>
    <% end %>
    <div class="panel-body">
      <%= f.hidden_field :sequence, data: { sequence: true } %>
      <div data-blockable-type>
        <% if f.object.blockable_type.nil? %>

          <% items = [] %>
          <% if t('ivaldi_content_blocks').is_a? Hash %>
            <% items = t('ivaldi_content_blocks').to_a %>
          <% end %>

          <%= f.collection_select :blockable_type,
              items,
              :first,
              :last,
              {
                include_blank: 'Select type',
              },
              data: {
                remote: true,
                url: new_page_url
              }
          %>
        <% end %>
      </div>

      <% t('ivaldi_content_blocks').keys.each do |blockable_type| %>

        <% blockable = blockable_type.to_s.constantize.new %>

        <% if f.object.blockable_type == blockable_type.to_s %>
          <% blockable = f.object.blockable %>
        <% elsif f.object.blockable_type.present? %>
          <% next %>
        <% end %>

        <%= f.fields_for :blockable, blockable do |ff| %>
          <div style="display: <%= f.object.blockable_type.nil? ? 'none' : 'block' %>;" data-content-block>
            <%= render "ivaldi_content_blocks/#{blockable_type.to_s.underscore}_fields", f: ff %>
            <% unless f.object.blockable_type.blank? %>
              <%= f.hidden_field :blockable_type, value: f.object.blockable_type %>
            <% end %>
            <%= ff.hidden_field :_destroy, value: ff.object.new_record? ? 1 : 0, data: { 'field-type' => blockable_type } %>
          </div>
        <% end %>

      <% end %>
    </div>
  </div>
</div>